body {
    height: auto;
    width: 100vw;
    background-color: #eee;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    user-select: none;
}

/* main photo */

.image-box {
    width: 100%;
    height: 500px;
    background-color: #fff;
    display: flex;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* main */

main {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.about-box {
    width: 60%;
    height: auto;
    max-height: 1200px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}

.description,
.photo {
    width: 50%;
    height: auto;
    max-height: 500px;
    padding: 20px;
    box-sizing: border-box;
    line-height: 1.5;
    text-align: justify;
}

.description p {
    margin: 10px 0px;
}

.description p:nth-child(5) {
    padding-top: 20px;
}

.photo img {
    width: 100%;
    height: auto;
    max-height: 320px;
    object-fit: contain;
}

h1 {
    margin: 0;
}

.description ul {
    list-style: none;
    padding-left: 0;
    text-align: left;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 40, 'wght' 300, 'GRAD' 0, 'opsz' 24;
}

.material-symbols-outlined {
    vertical-align: bottom;
    color: rgb(14, 175, 41);
    margin-right: 10px;
}

section.content-box {
    width: 60%;
    text-align: justify;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    position: relative;
    transition: 0.4s;
    transition-timing-function: ease-in-out;
    left: 0;
}

.left {
    left: -100vw;
}

.right {
    left: +100vw;
}

.content {
    line-height: 1.5;
}

div.image {
    height: 100px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 40px;
}

.postman {
    background-image: url(images/postman\ image.png);
}

.javascript {
    background-image: url(images/JavaScript-logo.png);
}

.sql {
    background-image: url(images/sql.png);
}

.git {
    background-image: url(images/git.png);
}

.azure {
    background-image: url(images/azure.png);
}

.playwright {
    background-image: url(images/Playwright2.png);
}

footer {
    height: 50px;
    background-color: #222;
    color: #eee;
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1300px) {
    main div.image-box {
        height: auto;
    }

    main div.about-box {
        flex-direction: column;
        width: 90%;
        margin: 0px auto;
    }

    main section.content-box,
    main div.about-box.description {
        width: 80vw;
    }

    div.about-box div.description {
        width: 100%;
        max-height: 700px;
        height: auto;
        text-align: justify;
    }

    div.about-box div.photo {
        width: 100%;
        max-height: 250px;
        height: auto;
        text-align: justify;
    }

    .photo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 200px;
    }
    .photo img {
        width: 80%;
        margin: 0 auto;
        max-height: 250px;
    }

    .left {
        left: 0;
    }

    .right {
        left: 0;
    }
}

/* @media screen and (min-width: 1300px) and (max-width: 1600px) {
    main div.about-box {
        flex-direction: column;
    }
    div.about-box div.description {
        width: 100%;
    }

    div.about-box div.photo {
        max-height: 500px;
    }
} */
